        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box
        }
        /* #root {
       display: flex;
       flex-direction: column;
       justify-content: flex-end;
       align-items: center;
       padding: 0px 0px 8px;
   } */
        
        .headerpart {
            margin-top: 64px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        #profile__img {
            padding: 0px;
            height: 88px;
            width: 88px;
            left: 148px;
            /* top: 16px; */
            border-radius: 275px;
        }
        
        #twitter {
            width: 1152px;
            height: 30px;
            /* Text xl/Bold */
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            /* identical to box height, or 150% */
            text-align: center;
            /* Gray/900 */
            color: #101828;
            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 1;
            margin-bottom: 30px;
        }
        
        #slack {
            visibility: hidden;
            height: 0;
            width: 0;
        }
        
        #first {
            margin-top: 20px;
        }
        
        .linktext {
            margin: 24px 144px 24px 144px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 24px 32px;
            gap: 8px;
            width: 1000px;
            height: 38px;
            /* Gray/200 */
            background: #EAECF0;
            /* Gray/200 */
            border: 1px solid #EAECF0;
            border-radius: 8px;
            /* Text */
            /* width: 10px; */
            height: 28px;
            /* Text lg/Medium */
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 28px;
            text-decoration: none;
            /* identical to box height, or 156% */
            display: flex;
            align-items: center;
            text-align: center;
            /* Gray/900 */
            color: #101828;
            /* Inside auto layout */
            flex: none;
            order: 0;
            flex-grow: 0;
        }
        
        a:hover,
        a:focus,
        a:active {
            transition: 0.3s;
            background: #D0D5DD;
            /* background: #0070f3; */
        }
        
        .smallicons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 72px;
            margin-top: 24px;
        }
        
        #gitwrap {
            height: 20px;
            width: 20px;
        }
        
        #slackIcon {
            width: 20px;
            height: 20px;
        }
        
        #gitIcon {
            fill: solid #000000;
            width: 20px;
            height: 20px;
        }